<link
  rel="stylesheet"
  href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css"
/>
<div class="card">
  <div class="card-header">{{ pageTitle }}!</div>

  <div class="card-body">
    <form novalidate (ngSubmit)="saveExpense()" [formGroup]="expenseForm">
      <!-- Expense Amount -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="expenseAmountId"
          >Expense Amount</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="expenseAmountId"
            type="number"
            placeholder="Expense Amount (required)"
            formControlName="expenseAmount"
            [ngClass]="{ 'is-invalid': displayMessage['expenseAmount'] }"
          />
          <span class="invalid-feedback">
            {{ displayMessage["expenseAmount"] }}
          </span>
        </div>
      </div>
      <!-- Expense Amount -->

      <!-- Expense Description -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="expensedecriptionId"
          >Expense Description</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="expensedecriptionId"
            type="text"
            placeholder="Expense Description (required)"
            formControlName="expenseDescription"
            [ngClass]="{ 'is-invalid': displayMessage['expenseDescription'] }"
          />
          <span class="invalid-feedback">
            {{ displayMessage["expenseDescription"] }}
          </span>
        </div>
      </div>
      <!-- Expense Description -->

      <!-- Expense Date -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="expenseDateId"
          >Expense Date</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            type="text"
            placeholder="DD-MM-YYYY"
            id="expenseDateId"
            formControlName="expenseDate"
            bsDatepicker
            [bsConfig]="{
              containerClass: 'theme-green',
              isAnimated: true,
              adaptivePosition: true,
              dateInputFormat: 'DD-MM-YYYY',
              showTodayButton: true,
              todayPosition: 'left',
              showClearButton: true,
              clearPosition: 'right'
            }"
            triggers="click:click"
            [ngClass]="{
              'is-invalid': displayMessage['erxpenseDate']
            }"
          />
          <span class="invalid-feedback">
            {{ displayMessage["erxpenseDate"] }}
          </span>
        </div>
      </div>
      <!-- Expense Date -->

      <!-- Save Button-->
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary mr-3"
            type="submit"
            style="width: 80px"
            [title]="
              expenseForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!expenseForm.valid"
          >
            Save
          </button>
        </div>
      </div>
      <!-- Save Button-->
    </form>
  </div>
</div>
<br />Dirty: {{ expenseForm.dirty }} <br />Touched: {{ expenseForm.touched }}
<br />Valid: {{ expenseForm.valid }} <br />Value:
{{ expenseForm.value | json }}
