<link
  rel="stylesheet"
  href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css"
/>
<div class="card">
  <div class="card-header">{{ pageTitle }}!</div>

  <div class="card-body">
    <form novalidate (ngSubmit)="saveCard()" [formGroup]="cardForm">
      <!-- Card Number -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="cardNumberId"
          >Card Number</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="cardNumberId"
            type="text"
            placeholder="XXXX XXXX XXXX XXXX"
            formControlName="cardNumber"
            [ngClass]="{ 'is-invalid': displayMessage['cardNumber'] }"
            credit-card
            [OnlyNumber]="true"
          />
          <span class="invalid-feedback">
            {{ displayMessage["cardNumber"] }}
          </span>
        </div>
      </div>
      <!-- Card Number -->

      <!-- Card Name -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="cardNameId"
          >Card Name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="cardNameId"
            type="text"
            placeholder="Card Name (required)"
            formControlName="cardName"
            [ngClass]="{ 'is-invalid': displayMessage['cardName'] }"
          />
          <span class="invalid-feedback">
            {{ displayMessage["cardName"] }}
          </span>
        </div>
      </div>
      <!-- Card Name -->

      <!-- Card Description -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="cardDescriptionId"
          >Card Description</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="cardDescriptionId"
            type="text"
            placeholder="Card Description (required)"
            formControlName="cardDescription"
            [ngClass]="{ 'is-invalid': displayMessage['cardDescription'] }"
          />
          <span class="invalid-feedback">
            {{ displayMessage["cardDescription"] }}
          </span>
        </div>
      </div>
      <!-- Card Description -->

      <!-- Card Type -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="cardNameId"
          >Card Type</label
        >
        <div class="col-md-8">
          <select
            class="form-control"
            formControlName="cardType"
            (change)="onCardTypeSelected($any($event.target).value)"
          >
            <option value="0">- Select CardType -</option>
            <option
              *ngFor="let cardType of cardTypes$ | async"
              [value]="cardType.id"
            >
              {{ cardType.name }}
            </option>
          </select>
        </div>
      </div>
      <!-- Card Type -->

      <!-- Card Due Date -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="cardDueDateId"
          >Due Date</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            type="text"
            placeholder="DD-MM-YYYY"
            id="cardDueDateId"
            formControlName="cardDueDate"
            [ngClass]="{
              'is-invalid': displayMessage['cardDueDate']
            }"
            bsDatepicker
            [bsConfig]="{
              containerClass: 'theme-green',
              isAnimated: true,
              adaptivePosition: true,
              dateInputFormat: 'DD-MM-YYYY',
              showTodayButton: true,
              todayPosition: 'left',
              showClearButton: true,
              clearPosition: 'right'
            }"
            triggers="click:click"
          />
          <span class="invalid-feedback">
            {{ displayMessage["cardDueDate"] }}
          </span>
        </div>
      </div>
      <!-- Card Due Date -->

      <!-- Card Expiry Date -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="cardExpiryDateId"
          >Expiry Date</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            type="text"
            placeholder="DD-MM-YYYY"
            id="cardExpiryDateId"
            formControlName="cardExpiryDate"
            [ngClass]="{
              'is-invalid': displayMessage['cardExpiryDate']
            }"
            bsDatepicker
            [bsConfig]="{
              containerClass: 'theme-green',
              isAnimated: true,
              adaptivePosition: true,
              dateInputFormat: 'DD-MM-YYYY',
              showTodayButton: true,
              todayPosition: 'left',
              showClearButton: true,
              clearPosition: 'right'
            }"
            triggers="click:click"
          />
          <span class="invalid-feedback">
            {{ displayMessage["cardExpiryDate"] }}
          </span>
        </div>
      </div>
      <!-- Card Expiry Date -->

      <!-- Card Statement Date -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="cardStatementDateId"
          >Statement Date</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            type="text"
            placeholder="DD-MM-YYYY"
            id="cardStatementDateId"
            formControlName="cardStatementDate"
            [ngClass]="{
              'is-invalid': displayMessage['cardStatementDate']
            }"
            bsDatepicker
            [bsConfig]="{
              containerClass: 'theme-green',
              isAnimated: true,
              adaptivePosition: true,
              dateInputFormat: 'DD-MM-YYYY',
              showTodayButton: true,
              todayPosition: 'left',
              showClearButton: true,
              clearPosition: 'right'
            }"
            triggers="click:click"
          />
          <span class="invalid-feedback">
            {{ displayMessage["cardStatementDate"] }}
          </span>
        </div>
      </div>
      <!-- Card Statement Date -->

      <!-- Card Next Statement Date -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="cardNextStatementDateId"
          >Next Statement Date</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            type="text"
            placeholder="DD-MM-YYYY"
            id="cardNextStatementDateId"
            formControlName="cardNextStatementDate"
            [ngClass]="{
              'is-invalid': displayMessage['cardNextStatementDate']
            }"
            bsDatepicker
            [bsConfig]="{
              containerClass: 'theme-green',
              isAnimated: true,
              adaptivePosition: true,
              dateInputFormat: 'DD-MM-YYYY',
              showTodayButton: true,
              todayPosition: 'left',
              showClearButton: true,
              clearPosition: 'right'
            }"
            triggers="click:click"
          />

          <span class="invalid-feedback">
            {{ displayMessage["cardNextStatementDate"] }}
          </span>
        </div>
      </div>
      <!-- Card Statement Date -->

      <!-- Card gracePeriod -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="gracePeriodId"
          >Card Grace Period</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="gracePeriodId"
            type="number"
            placeholder="Card Grace Period (required)"
            formControlName="gracePeriod"
            [ngClass]="{ 'is-invalid': displayMessage['gracePeriod'] }"
          />
          <span class="invalid-feedback">
            {{ displayMessage["gracePeriod"] }}
          </span>
        </div>
      </div>
      <!-- Card Description -->

      <!-- Save Button-->
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary mr-3"
            type="submit"
            style="width: 80px"
            [title]="
              cardForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!cardForm.valid"
          >
            Save
          </button>
        </div>
      </div>
      <!-- Save Button-->
    </form>
  </div>
</div>
<br />Dirty: {{ cardForm.dirty }} <br />Touched: {{ cardForm.touched }}
<br />Valid: {{ cardForm.valid }} <br />Value:
{{ cardForm.value | json }}
