<div class="card">
  <div class="card-header">{{ pageTitle }}!</div>

  <div class="card-body">
    <form novalidate (ngSubmit)="saveCard()" [formGroup]="cardForm">
      <!-- Card Number -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="cardNumberId"
          >Card Number</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="cardNumberId"
            type="text"
            placeholder="XXXX-XXXX-XXXX-XXXX"
            formControlName="cardNumber"
            [ngClass]="{ 'is-invalid': displayMessage['cardNumber'] }"
          />
          <span class="invalid-feedback">
            {{ displayMessage["cardNumber"] }}
          </span>
        </div>
      </div>
      <!-- Card Number -->

      <!-- Card Name -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="cardNameId"
          >Card Name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="cardNameId"
            type="text"
            placeholder="Card Name (required)"
            formControlName="cardName"
            [ngClass]="{ 'is-invalid': displayMessage['cardName'] }"
          />
          <span class="invalid-feedback">
            {{ displayMessage["cardName"] }}
          </span>
        </div>
      </div>
      <!-- Card Name -->

      <!-- Card Type -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="cardNameId"
          >Card Type</label
        >
        <div class="col-md-8">
          <select
            class="form-control"
            (change)="onCardTypeSelected($any($event.target).value)"
          >
            <option value="0">- Select CardType -</option>
            <option
              *ngFor="let cardType of cardTypes$ | async"
              [value]="cardType.id"
            >
              {{ cardType.name }}
            </option>
          </select>
        </div>
      </div>
      <!-- Card Type -->

      <!-- Save Button-->
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary mr-3"
            type="submit"
            style="width: 80px"
            [title]="
              cardForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!cardForm.valid"
          >
            Save
          </button>
        </div>
      </div>
      <!-- Save Button-->
    </form>
  </div>
</div>
<br />Dirty: {{ cardForm.dirty }} <br />Touched: {{ cardForm.touched }}
<br />Valid: {{ cardForm.valid }} <br />Value:
{{ cardForm.value | json }}
