<div class="card">
  <div class="card-header">Sign Up!</div>

  <div class="card-body">
    <form novalidate (ngSubmit)="save()" [formGroup]="userRegistrationForm">
      <!-- Card Name -->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstNameId"
          >First Name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="firstNameId"
            type="text"
            placeholder="First Name (required)"
            formControlName="firstName"
            [ngClass]="{
              'is-invalid':
                (userRegistrationForm.get('firstName')?.touched ||
                  userRegistrationForm.get('firstName')?.dirty) &&
                !userRegistrationForm.get('firstName')?.valid
            }"
          />
          <span class="invalid-feedback">
            <span
              *ngIf="userRegistrationForm.get('firstName')?.errors?.['required']"
            >
              Please enter your first name.
            </span>
            <span
              *ngIf="userRegistrationForm.get('firstName')?.errors?.['minlength']"
            >
              The first name must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>
      <!-- Card Name -->

      <!-- Email -->
      <div formGroupName="emailGroup">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="emailId">Email</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="emailId"
              type="email"
              placeholder="Email (required)"
              formControlName="email"
              [ngClass]="{
                'is-invalid':
                  userRegistrationForm.get('emailGroup')?.errors ||
                  ((userRegistrationForm.get('emailGroup.email')?.touched ||
                    userRegistrationForm.get('emailGroup.email')?.dirty) &&
                    !userRegistrationForm.get('emailGroup.email')?.valid)
              }"
            />
            <span class="invalid-feedback">
              <span
                *ngIf="userRegistrationForm.get('emailGroup.email')?.errors?.['required']"
              >
                Please enter your email address.
              </span>
              <span
                *ngIf="userRegistrationForm.get('emailGroup.email')?.errors?.['email']"
              >
                Please enter a valid email address.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="confirmEmailId"
            >Confirm Email</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              id="confirmEmailId"
              type="email"
              placeholder="Confirm Email (required)"
              formControlName="confirmEmail"
              [ngClass]="{
                'is-invalid':
                  userRegistrationForm.get('emailGroup')?.errors ||
                  ((userRegistrationForm.get('emailGroup.confirmEmail')
                    ?.touched ||
                    userRegistrationForm.get('emailGroup.confirmEmail')
                      ?.dirty) &&
                    !userRegistrationForm.get('emailGroup.confirmEmail')?.valid)
              }"
            />
            <span class="invalid-feedback">
              <span
                *ngIf="userRegistrationForm.get('emailGroup.confirmEmail')?.errors?.['required']"
              >
                Please confirm your email address.
              </span>
              <span
                *ngIf="userRegistrationForm.get('emailGroup')?.errors?.['match']"
              >
                The confirmation does not match the email address.
              </span>
            </span>
          </div>
        </div>
      </div>
      <!-- Email -->

      <!-- Phone-->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="phoneId">Phone</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="phoneId"
            type="tel"
            placeholder="Phone"
            formControlName="phone"
            [ngClass]="{
              'is-invalid': !userRegistrationForm.get('phone')?.valid
            }"
          />
          <span class="invalid-feedback">
            <span
              *ngIf="userRegistrationForm.get('phone')?.errors?.['required']"
            >
              Please enter your phone number.
            </span>
          </span>
        </div>
      </div>
      <!-- Phone-->

      <!-- Notification-->
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label pt-0">Send Notifications</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                value="email"
                formControlName="notification"
                (click)="setNotification('email')"
              />Email
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                value="text"
                formControlName="notification"
                (click)="setNotification('text')"
              />Text
            </label>
          </div>
        </div>
      </div>
      <!-- Notification-->

      <!-- Save Button-->
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary mr-3"
            type="submit"
            style="width: 80px"
            [title]="
              userRegistrationForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!userRegistrationForm.valid"
          >
            Save
          </button>
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="populateTestData()"
          >
            Test Data
          </button>
        </div>
      </div>
      <!-- Save Button-->
    </form>
  </div>
</div>
<br />Dirty: {{ userRegistrationForm.dirty }} <br />Touched:
{{ userRegistrationForm.touched }} <br />Valid:
{{ userRegistrationForm.valid }} <br />Value:
{{ userRegistrationForm.value | json }}
