<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-3">
          <select
            class="form-control"
            (change)="onSelected($any($event.target).value)"
          >
            <option value="0">- Display All -</option>
            <option
              *ngFor="let cardType of cardTypes$ | async"
              [value]="cardType.id"
            >
              {{ cardType.name }}
            </option>
          </select>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="onAdd()"
          >
            Add Product
          </button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0" *ngIf="cards$ | async as cards">
        <thead>
          <tr>
            <th>Card Name</th>
            <th>Card Type</th>
            <th>Card Number</th>
            <th>Description</th>
            <th>Total Expenduture</th>
            <th>Total Expenduture in Current Month</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let card of cards">
            <td>{{ card.cardName }}</td>
            <td>{{ card.cardType }}</td>
            <td>{{ card.cardNumber }}</td>
            <td>{{ card.cardDescription }}</td>
            <td>
              {{
                card.cardTotalExpenditure
                  | currency : "INR" : "symbol" : "1.2-2"
              }}
            </td>
            <td>
              {{
                card.cardCurrentMonthExpenditure
                  | currency : "INR" : "symbol" : "1.2-2"
              }}
            </td>
            <td>
              <button
                class="btn btn-outline-primary btn-sm"
                [routerLink]="['/cards', card.cardId, 'edit']"
              >
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
